* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menuhead {
    list-style-type: none;
    float: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid gainsboro;
}

.menuhead h1 {
    display: flex;
    color: gray;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 650px;
}

.menuhead li {
    display: flex;
    float: left;
    margin-left: 20px;
    color: gray;
}

.menuhead li a {
    color: gray;
    font-size: 15px;
    text-decoration: none;
}
/* Main */
main {
    padding: 50px;
}
.menu {
    list-style-type: none;
    float: none;
    padding-bottom: 10px;
    display: flex;
    margin-left: 50px;
    margin-bottom: 15px;
}
.menu li a img {
    display: flex;
    width: 50px;
    height: 40px;
    margin-left: 50px;
}
.menu #bg-shop a img {
    max-width: 500px;
    height: auto;
    margin-left: 200px;
}

.menu-list{
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding: 10px;
}
.menu-list ul{
    display: flex;
    list-style-type: none;
}
.menu-list li{
    margin: auto;
}
.menu-list a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}
.menu-list a:hover{
    color: red;
}
.menu-list .sub-menu {
    position: absolute;
    display: none;
    top: auto;
    left: auto;
}
.menu-list .sub-menu li{
    padding: 5px;
}
.menu-list li:hover .sub-menu {
    display: block;
    background-color: white;
}
.menu-list .sub-menu li:hover{
    color: red;
}
#ship{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    color: red;
}
#img-bg {
    display: flex;
    justify-content: center;
}
#img-bg img {
    border-radius: 10px;
}
.section {
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}
.section p {
    text-align: center;
}

.section h2 {
    text-align: center;
    margin: 0 0 20px;
    text-transform: uppercase;
    margin-top: 50px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(25% - 20px);
    margin-bottom: 50px;
    text-align: center;
}

.product img {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.product h3 {
    margin: 0;
}

.product p {
    color: palevioletred;
    margin: 10px 0;
}

.product del {
    color: gray;
}

.product button {
    background-color: rgb(237, 62, 91);
    color: #fff;
    border: none;
    padding: 7px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

section form {
    margin-left: 35%;
}

section form button {
    margin-top: 20px;
    width: 50px;
    height: 25px;
    margin-left: 370px;
}
/* Footer */
footer {
    color: gray;
    padding: 20px;
    text-align: center;
    border: 1px solid gainsboro;
}
